* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.container-flex {
    display: flex;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header, footer {
    background-color: #192a56;
    padding-top: 16px;
    color: #FFFFFF;
}

header > .container,
footer > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: #575fcf;
    padding: 16px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a{
    color: #FFFFFF;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    display: block;
    height: 2px;
    width: 100%;
    margin-bottom: 4px;
    background-color: #FFFFFF;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

#about-the-store img {
    max-width: 400px;
    margin-right: 24px;
}

.vehicles-list {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.vehicles-list li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.vehicles-list li img {
    max-width: 100%;
}

.vehicles-list li h3 {
    margin: 16px 0;
}

.price {
    display: block;
    margin: 16px 0;
}

.price del {
    color: #CCCCCC;
    font-size: 14px;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #119759;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

form {
    max-width: 360px;
}

.form-fields {
    margin-bottom: 16px;
}

.form-fields label {
    display: block;
    font-weight: bold;
}

.form-fields input,
.form-fields textarea {
    display: block;
    width: 100%;
    padding: 8px;
}

.form-fields textarea {
    resize: none;
    height: 120px;
}

form button {
    max-width: 120px;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img {
    height: 32px;
}